* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: black;
    color: yellow;
    display: block;
    font-family: Verdana;
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 15%;
    text-align: center;
}

h2 {
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 34px;
    font-weight: normal;
    margin: 10px 30px;
    margin-left: 50px;
    position: absolute;
    text-align: left;
}

li{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    float: right;
    display: inline-block;
    padding: 14px 16px;
    margin-right: 50px;
}

p{
    display: inline-block;
    font-family: Helvetica;
    margin-left: 300px;
    margin-top: 10px;
}

ul{
    background-color: gray;
    list-style-type: none;
    overflow: hidden;
}

img {
    float: right;
    height: 210px;
    margin: 5px 285px 50px 0px;
    width: 350px;
}

footer{
    display: inline-block;
    background-color: rgb(67, 74, 116);
    height: 120px;
    margin-bottom: -50px;
    width: 100%;
}

.left,
.middle,
.right{
    background-color: aquamarine;
    border-radius: 25px;
    display: inline-block;
    height: 290px;
    margin: 100px;
    margin-bottom: 10px;
    width: 270px;
}

.left{
    margin-left: 220px;
    margin-top: 40px;
}

.middle,
.right{
    margin-left: 100px;
    margin-top: 50px;
}

.below-left,
.below-right{
    background-color: rgb(255, 182, 47);
    display: inline-block;
    height: 280px;
    margin: 100px;
    margin-bottom: 70px;
    margin-top: 30px;
    width: 590px;
}

.below-left{
    margin-left: 220px;
    margin-right: 10px;
}
.below-right{
    margin-left: 30px;
}

